<h1>Game Library</h1>

<h3>Game:</h3><br>
<div class="button"><button>Check-out</button>
<button>Check-in</button></div>
<br>
<h3>Game Information:</h3>
<div class="table"><table>
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Total Quantity</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table></div><br>

<h3>Game Schedule:</h3>
<div class="table"><table>
  <tr>
    <th>Start Time</th>
    <th>Location</th>
    <th>GM</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table></div><br>

<h3>Checkout/in History:</h3>
<div class="table"><table>
  <tr>
    <th>Check-out Time</th>
    <th>Check-in Time</th>
    <th>Badge Info</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table><div class="table">