<h1>Game Library</h1>

<%= render "shared/header" %>

<%= form_tag do %>
  Game:
  <%= collection_select :library, :title, Inventory.all, :title, :game_selection, prompt: "Select a game title" %>
  <br><br>
  <div id="badge_entry">
  <%= number_field_tag "library[badge]" %></div>
  <div class="button"><button>Check-out</button>
  <button>Check-in</button></div>
  <br>
<%end%>

<h3>Game Information:</h3>
<div class="table"><table>
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Total Quantity</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table></div><br>

<h3>Game Schedule:</h3>
<div class="table"><table>
  <tr>
    <th>Start Time</th>
    <th>Location</th>
    <th>GM</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table></div><br>

<h3>Checkout/in History:</h3>
<div class="table"><table>
  <tr>
    <th>Check-out Time</th>
    <th>Check-in Time</th>
    <th>Badge Info</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table><div class="table">