<script>
  var gametitle

  //Make a GET request to the collector to pull Title/Company/Quantity for the selected game title

  $(document).ready(function(){

    $('#library_inventory_id').change(function() {
      gametitle = $('#library_inventory_id').val()

      $.ajax ({
        url: "list_game/" + gametitle,
        dataType: 'JSON',
        success: function(data){
          if ($('.display_game > tbody')[0].childElementCount > 1) {
            $('.display_game > tbody > tr:last').empty()
          };

          $('#library_quantity_left').val(data.logs.reverse()[0].quantity_left);

          $('.display_game > tbody:last').append('<tr><td>' + data.inventory[0].title + '</td><td>' + data.inventory[0].company + '</td><td>' + data.inventory[0].quantity_total + '</td></tr>');

          if ($('.display_schedule > tbody')[0].childElementCount > 1) {
            $('.display_schedule > tbody > tr:last').empty()
          };

          $.each ( $(data.schedule), function (i) {
            //console.log(data.schedule[i]);
            $('.display_schedule > tbody:last').append('<tr><td class="game_start">' + data.schedule[i].start + '</td><td>' + data.schedule[i].location + '</td></tr>' );
          });

          if ($('.display_logs > tbody')[0].childElementCount > 1) {
            $('.display_logs > tbody > tr:last').empty()
          };

          $.each ( $(data.logs), function (i) {
            $('.display_logs').append('<tr><td>' + data.logs[i].checked_out + '</td><td>' + data.logs[i].checked_in + '</td><td>' + data.logs[i].participant_id + '</td><td>' + data.logs[i].quantity_left);
          });

        }
      });
    });

  });

</script>

<div id="library_notice"><%= notice %></div>
<h2>FAILURE</h2>

<h3>Game Information:</h3>
<div class="table"><table class="display_game">
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Total Quantity</th>
  </tr>
</table></div><br>

<h3>Game Schedule:</h3>
<div class="table"><table class="display_schedule">
  <tr>
    <th>Start Time</th>
    <th>Location</th>
    <th>GM</th>
  </tr>
</table></div><br>

<h3>Checkout/in History:</h3>
<div class="table"><table class="display_logs">
  <tr>
    <th>Check-out Time</th>
    <th>Check-in Time</th>
    <th>Badge Info</th>
    <th>Quantity</th>
  </tr>
</table><div class="table">