<h1>Participants</h1>

<%= render "shared/header" %>

<div id="error"></div>

<div id="notice"><%= notice %></div>

<%= render "shared/addmember" %>

<div class="grid-container"><button form="member_submit" type="submit" id="main_submit" class="member_info">Add registered Participant</button></div>

<!-- Add an internally scrolling log of participants? -->



