<h1>Participants</h1>

<%= render "shared/header" %>

<div id="error"></div>

<div id="notice"><%= notice %></div>

<%= render "shared/addmember" %>

<!-- Add an internally scrolling log of participants? -->



