<div class="grid-container">
  <div id="member_form">
    <h3>Register Convention Member</h3>
    <%= render "shared/addmember" %><br>

    <div id="form_button">
      <button form="member_submit" type="submit" id="main_submit" class="member_info">Add registered Participant</button>
    </div>
  </div>
</div></div>