<div class="schedule-container">
  <div id="schedule_form">
    <table>
      <tr>
        <% @schedule.as_json.each do |k,v| %>
        <th>
          <%= k %>
        </th>
        <% end %>
      </tr>
      <tr>
        <% @schedule.as_json.each do |k,v| %>
        <td>
          <%= v %>
        </td>
        <%end%>
      </tr>
    </table>
    <br><br>

    <%= render 'schedule_form' %>
  </div>
</div>