<%= image_tag ("PAW-Logo.jpg")%>
<button class="home_button">Test</button>
<button class="home_button">Test</button>
<button class="home_button">Test</button>
<button class="home_button">Test</button>