<div class="grid-container">
  <div class="grid-item-2">
    <article id="rules">
      <h1>General Information</h1>
      <section>
        <h4>Convention Schedule</h4>
        PAW Program: Thursday 4:00 PM - Saturday 10:00 PM<br>
        Last call for Game Log entries: Saturday, 10:00 PM<br>
        Winner Circle: Sunday, 2:00 PM in the Lounge<br>
      </section>
      <br>
      <section>
        <h4>Summary of PAW</h4>
        PAW stands for Play and Win! The PAW team has partnered with game companies like Envoy, and these companies have donated games for the team to give away. The rules are simple- you play a donated game and become eligible to win it. The intent of the PAW Program is to get as many players as possible to check out a game they might not have played previously. One entry per player per game levels the field and makes everyone who has played it equally likely to win a game. It also encourages people to try out many different games. You can play any game you like as many times as you like, but we hope you try out many different games over the weekend, not just one.

        <br>
      </section>
      <br>
      <section>
        <h4>Basic Rules</h4>
        <ul>
          <li>Sign up and attend one of the many PAW Demo sessions OR check out an eligible Participating Game from the either the PAW or GameStorm Game Library.</li>
          <li>Play the game!</li>
          <li>Fill out the Play and Win Game Log.</li>
          <li>Return the Game Log to the Library or the PAW HQ Table.</li>
        </ul>
      </section>
      <br>
      <section>
        <h4>PAW Library</h4>
          The PAW Game Library is separate from the Gamestorm Game Library. If you'd like to checkout a game from the PAW Library, you must register with PAW HQ first. When registering, contact information is a requirement; this allows us to contact you if we need the game for an upcoming Demo session. Games checked out from the PAW Game Library will have a PAW sticker on the box, and must be returned to PAW HQ. All games in the PAW Game Library are eligible for winning, so make sure to take a Game Log to fill out!
      </section>
    </article>
  </div>
  <div class="grid-item-3"></div>
  <div class="grid-item-4">
    <article id="details">
      <h1>Detailed Rules and Guidelines</h1>
      <section>
      <h4>Clarifications</h4>
      <ul>
        <li>Only Participating Games are eligible for entry. See the list of Participating PAW Games to find out which games are eligible. </li>
        <li>Your name will only be entered once per game that you play.</li>
        <li>Play is required! Just watching a game, or a Demo, does not qualify you for entry.</li>
        <li>You must play with a group! Some of the games that we are showing might have rules for single play, but single player entries will not be counted!</li>
        <li>If no one else who played the game wants to win it - then rate it the lowest rating! If you win more than one game, we will choose the game that has the highest rating and redraw for the rest.</li>
        <li>If you want to play a game and don’t have a group to play with, there are lots of ways to find one:
          <ul>
          <li>Pick up an orange cone at the Game Library</li>
          <li>Sign up for one of our Looking For Group (LFG) Free Play time slots</li>
          <li>Check in with our HQ Table to see if there’s anyone else looking for someone to play with</li>
          <li>Check our Facebook Page to see if anyone has posted an LFG request there.</li>
          </ul></li>
        <li>PAW Demos take precedence over Independant Plays of PAW Games. If PAW has only a single copy of a particular game it may be made unavailable for up to 2 hours before a scheduled Demo or you may be required to return it to the Library without finishing the game. </li>
        <li>If you have won a game, we will attempt to contact you by your preferred contact method to let you know before the Winner Circle takes place. This is to alert you to attend or to notify your proxy, if you provided proxy information.</li>
      </ul>
      </section>
      <br>
      <section>
      <h4>Disqualification</h4>
        It is extremely rare that a player is disqualified from participating.  It's much more common that Game Logs or single entries on a Game Log are disqualified.
      <ul>
        <li>In accordance with the Wheaton Rule: Any player that takes a game on 'Walkabout' for more than double the length of the time of a game's play, over night, or (in the case of short play games) more than 4 hours, may be disqualified from winning any PAW Game. This will be left to the discretion of the PAW Team Leads.</li>
        <li>We reserve the right to remove your name from any drawings you have entered if you are abusive to PAW Staff or GMs. Abusive players will be reported to Security.</li>
        <li>Game Logs submitted with only a single participant listed will be discarded. </li>
        <li>Game Logs that are missing a Game Name or other important information will be discarded.   </li>
        <li>Game Logs that are submitted with illegible handwriting may be discarded OR we may choose to enter only those players whose handwriting we can read.  (If you aren't confidant that your handwriting is legible, please ask for the assistance of another player, GM, or go to the HQ Table for help.) </li>
      </ul>
      </section>
    </article>
  </div>
</div>