<script>
  $(document).ready(function(){
    $('#pick_winners').click(function(){
      $.ajax ({
        url: "show_winners/",
        dataType: 'JSON',
        success: function(data){
          console.log(data);

          for (i = 1; i < (data.winners.length + 1); i++) {
            //console.log($('[id$="_' + i + '"]'));
            console.log(data.winners[i]);

            if (data.winners[i] != "No entry") {
              $('[id$="_' + i + '"] > #winner_list').append('<li>Badge: ' + data.winners[i][0].badge + '</li><li>Name: ' + data.winners[i][0].name + '</li><li>Phone: ' + data.winners[i][0].phone + '</li><li>Email: ' + data.winners[i][0].email + '</li><li>Preference: ' + data.winners[i][0].pref + '</li><li>Rating: ' + data.winners[i][1][1] + '</li>');
            } else {
              $('[id$="_' + i + '"] > #winner_list').append('<li>No entries logged for this title.</li>');
            };
          }
        }
      });
    });
  });
</script>

<h1>Winner Circle</h1>

<%= render "shared/header" %>

<button id="pick_winners">Pick the Winners!</button>

<table>
  <% Inventory.all.each_slice(4) do |rows| %>
    <tr>
      <% rows.each do |cells| %>
        <td id='<%= "#{cells.title}" %>_<%= "#{cells.id}" %>'>
          <h4>Game Title:</h4>
          <div class="game_title"><%= "#{cells.title}" %></div>
          <h4>Winner:</h4>
          <ul id='winner_list'>
          </ul>
          <h4>Proxy info:</h4>
          <ul id='proxy_list'>
            <!--
            <li>Badge: </li>
            <li>Name: </li>
            <li>Contact: </li>
            <li>Preference: </li>
          -->
          </ul>
          <button>Redraw</button>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>