<h1>Winner Circle</h1>

<%= render "shared/header" %>

<table>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <div class="game_title">Sample Title</div>
      <h4>Winner:</h4>
        <ul>
          <li>Badge: 12345</li>
          <li>Name: Greg George</li>
          <li>Contact: 555.555.5555</li>
          <li>Preference: Text</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge: 54321</li>
          <li>Name: George Greg</li>
          <li>Contact: 555.555.5551</li>
          <li>Preference: Call</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
    <td>
      <h4>Game Title:</h4>
      <h4>Winner:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
        <h4>Proxy info:</h4>
        <ul>
          <li>Badge:</li>
          <li>Name:</li>
          <li>Contact:</li>
          <li>Preference:</li>
        </ul>
      <button>Redraw</button>
    </td>
  </tr>
</table>