/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require jquery-ui/dialog
 */

/* Setup for global responsive CSS */
* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  background-color: #64BA72;
}
/* Main page wrapper */
.page-container {
  float: left;
  width: 100%;
  margin: 0px;
  background-color: #53993A;
  border: unset;
  position: relative;
  min-height: 100vh;
  margin-bottom: -2.5rem;
}
/* Main header */
.header {
  float: left;
  width: 100%;
  margin: 0%;
  background-color: unset;
  border: unset;
}
/* Info wrapper */
.info-container {
  float: left;
  width: 100%;
  border: unset;
  background-color: unset;
  margin: 20px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

/* Content wrapper */
.content-container {
  min-height: 100vh;
}

.two-col-even {
  float: left;
  width: 45%;
  margin: 20px 0px 0px 45px;
  border: inset #423b4f;
  padding: 10px 50px 10px 30px;
}

.sing-col-sm {
  float: left;
  width: 60%;
  border: inset #423b4f;
  margin: 20px 0px 0px 45px;
  padding: 10px 50px 10px 30px;
}

.sing-col-lg {
  float: left;
  width: 80%;
  border: inset #423b4f;
  margin: 20px 0px 0px 45px;
}

.two-col-lg {
  float: left;
  width: 60%;
  margin-left: 50px;
  border: inset #423b4f;
}

.two-col-sm {
  float: left;
  width: 30%;
  margin-left: 50px;
  border: inset #423b4f;
  height: 500px;
}

.col-8 {
  width: 20%;
  margin: 20px 0px 0px 45px;
}

.spacer {
  float: left;
  width: 100%;
  height: 5rem;
  background-color: unset;
}

.footer {
  float: left;
  width: 100%;
  background-color: #854E99;
  color: #dfe5f3;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  font-style: italic;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 100%;
  height: auto;
}

/* Breakpoints for allowing different window/device sizes

/* For mobile phones:
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop:
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
*/

/* Global styling */
article {
  background-color: #64BA72;
  border: inset #423b4f;
  padding: 10px 50px 10px 30px;
}

section {
  background: #dfe5f3;
  border: solid #423b4f thin;
  padding: 0px 20px 20px 20px;
  text-align: center;
}

section ul {
  text-align: left;
}

section ul li {
  list-style-image: url("Image001.png");
}

body {
  background-color: #53993A;
  font-family: "Verdana", sans-serif;
  margin: 0px;
}

h3, h1{
  background-color: #854e99db;
  border: 20px solid transparent;
  padding: 10px;
  color: #dfe5f3;
  text-align: center;
  border-image: url("dice_icon.png") 15 round;
}

table {
  border: inset #423b4f;
  border-collapse: collapse;
}

th {
  background: #675c7b;
  color: #cdd5ec;
  border: solid #423b4f ;
}

td {
  background: #dfe5f3;
  border: solid #423b4f thin;
}

a:visited {
  color: black;
}

form {
  padding-top: 50px;
  padding-left: 100px;
  font-size: 20px;
}

select { font-size: 18px; }

input { width: 200px; }

input[type=radio] { width: 15px; }

input[type=submit] { font-size: 18px; }

/* Nav header features */
#main_header {
  border-bottom: double #423b4f thick;
  background-color: #64BA72;
  padding: 10px;
  font-family: "Verdana", sans-serif;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 100px auto 187px;
  grid-template-rows: auto auto auto;
  grid-template-areas:'img dummy event_code'
                      'img title username'
                      'img nav login';
}

#main_header > nav > a {
  border-left: solid thin #423b4f;
  border-radius: 80%;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}

#main_header > nav > a:hover {
  background-color: #854E99;
  color: black;
}

#pages {
  grid-area: nav;
  display: inline;
}

#menu_img {
  height: 100px;
  width: 100px;
  grid-area: img;
  border: solid #423b4f;
  display: inline;
}

#program {
  grid-area: title;
  font-size: 45px;
  font-weight: bolder;
  display: inline;
  padding-bottom: 10px;
}

#default {
  grid-area: login;
  display: inline-flex;
}

#user_info {
  grid-area: username;
  display: inline;
  text-align: right;
}

#event_code {
  grid-area: event_code;
  display: inline;
  text-align: right;
}

/* Admin menu */

.third-level-menu
{
    position: absolute;
    top: -3px;
    right: 153px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border-right: outset #423b4f;
    border-top: outset #423b4f;
    border-left: outset #423b4f;
}

.third-level-menu > li
{
    height: 30px;
    background: #dfe5f3;
    border-bottom: outset #423b4f;
}

.second-level-menu
{
    position: absolute;
    top: 30px;
    right: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border-right: outset #423b4f;
    border-top: outset #423b4f;
    border-left: outset #423b4f;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #dfe5f3;
    border-bottom: outset #423b4f;
}

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    height: 30px;
    display: inline-flex;
    border-left: solid thin #423b4f;
    border-radius: 80%;
    padding-left: 6px;
}

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}

/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    text-decoration: none;
    padding: 5px;

    /* Make the link cover the entire list item-container*/
    display: block;
    border-radius: 80%;
}

.top-level-menu a:hover {
  background-color: #854E99;
  color: black;
}

.top-level-menu li:hover {
  background-color: #854E99;
  color: black;
}

/* Info container */

.alert {
  background-color: #A0231C;
  border: outset thin #423b4f;
  display: -webkit-inline-box;
  padding: 20px;
  color: #dfe5f3;
}

.notice {
  background-color: #dfe5f3;
  border: outset thin #423b4f;
  display: -webkit-inline-box;
  padding: 20px;
}

/* Additional CSS styling */

.form_entry {
  background-color: #64BA72;
  border: inset #423b4f;
  padding: 20px 10px 10px 10px;
}

#true, #false { display:none; }

#true.selected { display:block; }

#true {border: none;}

#false.selected { display:block; }
