/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require jquery-ui/dialog
 */

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.grid-item-5 {
  grid-column-start: 5;
  grid-column-end: 5;
}

.header_container {
  text-align: center;
  position: relative;
  bottom: 40px;
  right: 5px;
}

.header_button {
  position: relative;
  top: -9px;
}

.header_button button {
  width: 400px;
  height: 100px;
}

#menu_img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 35px;
}

#left_header {
  display: inline-flex;
}

#right_header {
  display: inline-flex;
}

#notice {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: auto auto auto 500px auto;
  grid-template-rows: auto auto auto auto;
}

body {
  background-color: #53993A;
  font-size: 16px;
  color: #1f2021;
}

header {
  background-color: #5DAF6B;
  border: inset #423b4f;
  padding: 20px 100px 10px 100px;
}

.info_container {
  text-align: center;
}

#menu_img {
  border: solid;
}

.future_feature {
  font-size: 12px;
  font-style: italic;
}

.alert {
  background-color: #A0231C;
  border: outset thin #423b4f;
  padding: 5px 0px 5px 0px;
}

h3, h1{
  background-color: #716587;
  border: outset thin #423b4f;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 5px;
}