// Place all the styles related to the GameLogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry {
  font-size: initial;
}

.badge {
  text-align: center;
}

.rating {
  text-align:center;
  font-size:initial;
}

#game_header {
  display: flex;
}

#detail_header {
  display: flex;
}

#dialog_addmember{
  background-color: #53993A;
}

#log_header form {
  padding-top: 2%;
  padding-left: unset;
}

#out_form {
  overflow: scroll;
  padding-top: 20px;
}

#out_section {
  height: 575px;
}
