// Place all the styles related to the GameLibrary controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.library_table {
  border-collapse: collapse;
  font-size: medium;
  background-color: #64BA72;
}

.library_table th, td {
  padding: 5px 15px 5px 15px;
}

#out_form {
  height: 400px;
}

input[type=number] {
  font-size: 18px;
}

.logout_time, .login_time, .q_left {
  display: none;
}

#library_form {
  background-color: unset;
  border: unset;
}

#dialog_memberinfo {
  background-color: #53993A;
  border: inset #423b4f;
  padding: 10px 50px 10px 30px;
  font-weight: bold;
}

#game, #badge, #library_buttons {
  text-align: left;
  display: flex;
}