// Place all the styles related to the GameLogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.log-container {
  display: grid;
  grid-template-columns: 50px 302px 352px 352px 352px 302px 50px;
}

#log_form {
  background-color: #64BA72;
  border: inset #423b4f;
  padding: 10px 50px 50px 0px;
  grid-column-start: 2;
  grid-column-end: 5;
}

.entry {
    width: 100px;
    font-size: initial;
}

.badge {
  text-align: center;
}

.rating {
  text-align:center;
  font-size:initial;
}

#game_header {
  display: flex;
}

#detail_header {
  display: flex;
}