// Place all the styles related to the Rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rules-container {
  display: grid;
  grid-template-columns: 50px 302px 352px 352px 352px 302px 50px;
  grid-gap: 10px;
}

#rules_form {
  background-color: #64BA72;
  border: inset #423b4f;
  padding: 50px;
  grid-column-start: 2;
  grid-column-end: 7;
}

table {
  border: inset #423b4f;
  border-collapse: collapse;
}

th {
  background: #675c7b;
  color: #cdd5ec;
  border: solid #423b4f ;
}

td {
  background: #dfe5f3;
  border: solid #423b4f thin;
}