// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome_button {
  height: 250px;
  width: 250px;
  font-size: 20px;
}

.left {
  float: left;
}

img {
  float: left;
  padding-left: 100px;
  padding-right: 100px;
}

.home {
  padding-top: 100px;
  padding-left: 50px;
}

button {
  border-width: medium;
}