// Place all the styles related to the WinnerCircle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.winner_table {
  border-style: ridge;
}

.winner_table td {
  border-style: ridge;
  padding-left: 10px;
  padding-top: 5px;
  vertical-align: top;
}

.winner_cell {
  background-color: #64BA72;
}

.redraw_error {
  background-color: #A0231C;
  border: outset thin #423b4f;
  padding: 5px 0px 5px 0px;
  display: none;
  font-weight: bold;
  text-align: center;
}

h3 {
  width: 250px;
}